/*.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.main-header .sidebar-toggle:before {
    content: "\f0c9";
}

.content-wrapper {
    padding-bottom: 50px;
    margin-left: 0;
}

.content-maximizer {
    min-height: 100% !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
}

html, body, .wrapper, .components {
    min-height: 100%;
}

.move-icon {
    padding-right: 5px;
}

.dropdown-menu > .divider {
    background-color: #eee !important;
}

.dropdown-menu {
    right: 0 !important;
}

.dropdown-menu > li > a {
    color: #000 !important;
}

.dropdown-menu > li > a:hover {
    background-color: #e1e3e9 !important;
    color: #333 !important;
}


.treeview-menu {
    overflow: hidden;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    max-height:0 !important;
    display:block !important;
}
.sidebar-menu li.active>.treeview-menu{
    max-height: none !important;
}

.content {
    min-height: 200px;
}
.content-wrapper{
    padding-bottom: 60px;
}*/

.sidebar-toggle {
    cursor: pointer;
}

@media (max-width: 767px) {
    .skin-green-light .main-header .navbar .dropdown-menu li a {
         color: #333;
    }
}
@media (max-width: 991px) {
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
        right: 0;
    }
}
/*
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.active):hover > a > span,
    .sidebar-menu > li:hover > ul {
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
        z-index: -100;
    }
}

.sidebar-menu > li:hover {
    z-index: 2100;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right {
    display: inline-block !important;
}
*/